@model DirectorySite.Models.SessionsResponse?
@functions{
    IEnumerable<SessionResponse> GetSessions(){
        if( Model == null){
            return [];
        }
        return Model.Data??[];
    }
}

<div class="row align-items-start">
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Direccion</th>
                <th scope="col">User Agent</th>
                <th scope="col"  class="text-center">Fecha Inicio</th>
                <th scope="col" class="text-center">Fecha Fin</th>
                <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody style="font-size: .9rem;">
                @{
                    var i = 1;
                }
                @foreach( var session in GetSessions()){
                    <tr>
                        <td scope="row"> @i </td>
                        <td>@session.IpAddress</td>
                        <td>@session.UserAgent</td>
                        <td>
                            <div class="flex flex-column align-items-center text-center">
                                <div class="text-sm text-uppercase">
                                    @session.BegginAt!.Value.ToString("dd MMM yyyy")
                                    @session.BegginAt!.Value.ToString("HH:mm")
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-column align-items-center text-center">
                                <div class="text-sm text-uppercase">
                                    @session.EndAt!.Value.ToString("dd MMM yyyy")
                                    @session.EndAt!.Value.ToString("HH:mm")
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="close-session btn btn-secondary py-0 px-1" id="btn_@session.SessionID" onclick="handleCloseSesionButton(event)">Cerrar</button>
                            </div>
                        </td>
                    </tr>
                    i++;
                }

                @if(!GetSessions().Any()){
                    <tr>
                        <td colspan="6" scope="row">
                            No hay registros
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>