@model PersonResponse
@functions
{
    IEnumerable<ContactInformationResponse>? GetContacInfo()
    {
        return Model.ContactInformation?.Where(item=>item.ContactTypeId != 1).ToList();
    }

    ContactInformationResponse GetPrincipalPhonenumber()
    {
        if(Model.ContactInformation == null || !Model.ContactInformation.Any())
        {
            return CreateDefaultContactInformationResponse();
        }
        if(Model.ContactInformation?.FirstOrDefault(item=> item.ContactTypeId == 1) == null)
        {
            return CreateDefaultContactInformationResponse();
        }
        return Model.ContactInformation!.FirstOrDefault(item=> item.ContactTypeId == 1)!;
    }

    private ContactInformationResponse CreateDefaultContactInformationResponse()
    {
        return new ContactInformationResponse
        {
            ContactId = string.Empty,
            ContactTypeId = 1,
            Value = string.Empty
        };
    }
}
<div class="container rounded bg-white">
    <div class="row">
        <!-- Sidebar Picture box -->
        <div class="col-md-2 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="border rounded-circle mt-5 mb-2" alt="Imagen de perfil" width="150" height="150" src="https://ui-avatars.com/api/?color=333&rounded=true&name=@( Model.FullName!.Replace(" ", "+") )"/>
                @* <span class="font-weight-bold">@Model.Name</span> *@
                <span class="text-black-50 text-wrap">@Model.PersonId</span>

                <a ControllerName asp-action="EditPerson" asp-controller="People" asp-route-personID="@Model.PersonId" class="mt-2 btn btn-sm btn-success d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" height="14" width="14">
                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                    </svg>
                    <label class="ml-2 ms-2 pb-1">Editar datos</label>
                </a>
                
            </div>
        </div>

        <div class="col-md-5 border-right">
            <div class="p-3">
                <div class="mb-2 p-1 border-bottom d-flex">
                    <h4>Datos generales</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="label">Nombre</label>
                        <input type="text" class="form-control" disabled value="@Model.Name">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="label">Apellidos</label>
                        <input type="text" class="form-control" disabled value="@Model.FirstName @Model.LastName">
                    </div>
                    
                    <div class="col-md-12">
                        <label class="label">CURP</label>
                        <input type="text" class="form-control" disabled value="@Model.Curp">
                    </div>

                    <div class="col-md-12">
                        <label class="label">RFC</label>
                        <input type="text" class="form-control" disabled value="@Model.Rfc">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Genero</label>
                        <input type="text" class="form-control" disabled value="@Model.GenderName">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Fecha de nacimiento</label>
                        <input type="text" class="form-control" disabled value="@Model.BirthdateFormated">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Estado Civil</label>
                        <input type="text" class="form-control" disabled value="@Model.MaritalStatusName">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Nacionalidad</label>
                        <input type="text" class="form-control" disabled value="@Model.NationalityName">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Ocupacion</label>
                        <input type="text" class="form-control" disabled value="@Model.OccupationName">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            
            <div class="row p-3">
                <div class="mb-2 p-1 border-bottom">
                    <h4>Llave Digital</h4>
                </div>

                <div class="mb-2 col-md-12">
                    <input type="text" class="form-control" disabled value="@Model.Email">
                </div>
            </div>

            <div class="row p-3">
                <div class="mb-2 p-1 border-bottom">
                    <h4>Contacto</h4>
                </div>

                <div class="mb-2 col-md-12">
                    <label class="label">Telefono principal</label>
                    <input type="text" class="form-control" disabled value="@GetPrincipalPhonenumber().Value">
                </div>

                @if(GetContacInfo() != null)
                {
                    foreach(var element in GetContacInfo()!){
                        <div class="col-md-6">
                            <label class="label text-capitalize">@element.ContactTypeName?.ToLower()</label>
                            <input type="text" class="form-control" disabled value="@element.Value">
                        </div>
                    }
                }
            </div>

            <div class="row p-3">

                <div class="mb-2 p-1 border-bottom">
                    <h4>Domicilio</h4>
                </div>
                @if(Model.Address == null){
                    <div class="col-md-12">
                        <div class="alert alert-warning text-center" role="alert">
                            Direccion no capturada
                        </div>
                    </div>
                }else {
                    <div class="col-md-6">
                        <label class="label">Pais</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.CountryName">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Estado</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.StateName">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Ciudad</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.MunicipalityName">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Codigo Postal</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.ZipCode">
                    </div>
                    
                    <div class="col-md-12">
                        <label class="label">Colonia</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.ColonyName">
                    </div>

                    <div class="col-md-12">
                        <label class="label">Calle</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.Street">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Numero</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.Number">
                    </div>

                    <div class="col-md-6">
                        <label class="label">Numero Interior</label>
                        <input type="text" class="form-control" disabled value="@Model.Address.NumberInside">
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div class="container mt-4" style="padding-bottom: 4rem;">
    <div class="row">

        <div class="col-12">
            <div class="mb-2 p-1 border-bottom">
                <h4>Últimas sesiones del usuario</h4>
            </div>
            <div id="personSessionsWrapper">
                <div class="d-flex align-items-center alert alert-primary mt-3" role="alert">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="mx-2" style="font-size: 1rem;">Cargando datos</span>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="mb-2 p-1 border-bottom">
                <h4>Últimos trámites</h4>
            </div>
            <div id="personProceduresWrapper">
                <div class="d-flex align-items-center alert alert-primary mt-3" role="alert">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="mx-2" style="font-size: 1rem;">Cargando datos</span>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .label {
        margin-top: .3rem;
    }
</style>