@model IEnumerable<DirectorySite.Models.RecoveryAccountResponse>
@{
    int currentPage = Convert.ToInt32(ViewBag.CurrentPage);
    int totalPages = Convert.ToInt32(ViewBag.TotalPages);
    int totalRecords = Convert.ToInt32(ViewBag.TotalRecords);
    int skipRecords = Convert.ToInt32(ViewBag.Skip);
}

@functions
{
    string GetCustomRowClass(RecoveryAccountResponse? row)
    {
        return row switch
        {
            null => string.Empty,
            { AttendingAt: not null } => "table-success",
            { DeletedAt: not null } => "table-danger",
            _ => string.Empty
        };
    }
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Contacto</th>
            <th scope="col">Fecha Regitro</th>
            <th scope="col">Atendido</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = skipRecords + 1;
        }
        @foreach(var record in Model)
        {
            <tr class="@GetCustomRowClass(record)">
                <td scope="row">@i</td>
                <td>
                    <div class="flex align-items-center">
                        <div class="text-sm text-uppercase">@record.FullName</div>
                        <div class="text-sm">@record.Curp</div>
                    </div>
                </td>
                <td>@record.ContactEmail</td>
                <td>
                    <div class="flex align-items-center">
                        <div class="text-sm text-uppercase">@record.CreatedAt.ToString("dd MMM yyyy")</div>
                        <div class="text-sm">@record.CreatedAt.ToString("HH:mm")</div>
                    </div>
                </td>
                <td>
                    @if(record.FinishedAt != null)
                    {
                        <div class="flex align-items-center">
                            <div class="text-sm text-uppercase">@record.FinishedAt.Value.ToString("dd MMM yyyy")</div>
                            <div class="text-sm">@record.FinishedAt.Value.ToString("HH:mm")</div>
                        </div>
                    }
                </td>
                <td>
                    <a class="btn btn-link" asp-action="show" asp-controller="RecoveryAccount" asp-route-recordID="@record.Id">Mostrar</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

<div class="d-flex align-items-center justify-content-between">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" @(currentPage <= 1 ? "disabled" : "")">
                <a class="page-link" href="@(currentPage > 1 ? $"?p={currentPage - 1}" : "#")" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int p = 1; p <= totalPages; p++)
            {
                <li class="page-item @(currentPage == p ? "active" : "")">
                    <a class="page-link" href="?p=@p">@p</a>
                </li>
            }
            <li class="page-item" @(currentPage >= totalPages ? "disabled" : "")">
                <a class="page-link" href="@(currentPage < totalPages ? $"?p={currentPage + 1}" : "#")" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <p class="fs-6">Total: @totalRecords.ToString("n0")</p>
</div>